<script>
    // your script goes here
</script>

<style>
    /* your styles go here */
</style>

<!-- markup (zero or more items) goes here -->
<!-- <section class="section pt-5 common-section" id="supporters"> -->
    <section class="section pt-5" id="support">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
        
        <h1 class="section-title text-center">Supported by</h1>
        <div class="section-title-border mt-3" />      </div>
      <div
        class="mt-12 max-w-4xl mx-auto flex items-center justify-center flex-wrap">
        <div class="dark:bg-gray-300 rounded-md h-20 w-48 my-4 mx-4">
          <img
            class="object-contain w-full h-full mx-auto"
            src="https://assets.website-files.com/61ed56ae9da9fd7e0ef0a967/61f12e022df47d704e9958f3_MintyDefault.svg"
            alt="" />
        </div>
        <div class="dark:bg-gray-300 rounded-md h-20 w-48 my-4 mx-4">
          <img
            class="object-contain w-full h-full mx-auto"
            src="https://assets.website-files.com/61ed56ae9da9fd7e0ef0a967/61f12d717a5df974cd42415a_EbooksDefault.svg"
            alt="" />
        </div>
        <div class="dark:bg-gray-300 rounded-md h-20 w-48 my-4 mx-4">
          <img
            class="object-contain w-full h-full mx-auto"
            src="https://assets.website-files.com/61ed56ae9da9fd7e0ef0a967/61f12dcfc7ae6798c49b2a55_IcebergDefault.svg"
            alt="" />
        </div>
        <div class="dark:bg-gray-300 rounded-md h-20 w-48 my-4 mx-4">
          <img
            class="object-contain w-full h-full mx-auto"
            src="https://assets.website-files.com/61ed56ae9da9fd7e0ef0a967/61f12e78784f087c65fe2757_SnapShotDefault.svg"
            alt="" />
        </div>
      </div>
    </div>
  </section>
  