<script>
  import { Router, Route } from "svelte-routing";

  import Index1 from "./routes/Index.svelte";
  import Login from "./routes/login.svelte";
  import Signup from "./routes/signup.svelte";
  import Password_forget from "./routes/password_forget.svelte";
  import Spiritual from "./routes/Spiritual.svelte";

  export let url = "";
</script>

<Router {url}>
  <div>
    <Route path="/"><Index1 /></Route>
    <Route path="/wellness"><Spiritual /></Route>

    <Route path="/login"><Login /></Route>
    <Route path="/signup"><Signup /></Route>
    <Route path="/password_forget"><Password_forget /></Route>
  </div>
</Router>
